[mysqld]
bind-address=127.0.0.1
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
user=mysql

# Set the SQL mode to strict
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# Fine Tuning
key_buffer_size = 16M
max_allowed_packet = 16M
thread_stack = 192K
thread_cache_size = 8
query_cache_limit = 1M
query_cache_size = 16M

# MyISAM tuning parameters
myisam-recover-options = BACKUP
max_connections = 100
table_open_cache = 64
thread_concurrency = 10

# Enable SSL
# ssl-ca=/etc/mysql/ca-cert.pem
# ssl-cert=/etc/mysql/server-cert.pem
# ssl-key=/etc/mysql/server-key.pem

[mysqldump]
quick
quote-names
max_allowed_packet = 16M

[mysql]
#no-auto-rehash # faster start of mysql but no tab completition

[isamchk]
key_buffer = 16M

!includedir /etc/mysql/conf.d/