[mysqld]
# Set MySQL data directory
datadir=/var/lib/mysql

# Set MySQL user
user=mysql

# Set MySQL socket
socket=/var/run/mysqld/mysqld.sock

# Set MySQL bind address
bind-address=0.0.0.0

# Set MySQL default storage engine
default-storage-engine=INNODB

# Set MySQL character set
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci

# Set MySQL log file path
log-error=/var/log/mysql/error.log
